body {
    margin: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: inherit;
    }
    #app {
        display: flex;
        position: relative;
        max-width: 65vw;
        height: 85vh;
        transition: ease-in-out 200ms;
        @media all and (max-width: 1600px) {
            min-width: 75vw;
        }
        @media all and (max-width: 1400px) {
            min-width: 85vw;
        }
        @media all and (max-width: 992px) {
            width: 85vw;
            height: 85vh;
        }
        @media all and (max-width: 768px) {
            width: 90vw;
            height: 100vh;
        }
        @media all and (max-width: 576px) {
            width: 100vw;
            height: 100vh;
        }
        .main {
            margin-left: 470px;
            padding: 1rem;
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: #3c3e3f #1c1e1f;
            background-color: #1c1e1f;
            transition: ease-in-out 200ms;
            div{
                opacity:1;
            }
            &::before {
                content: "";
                left: 540px;
                right: 0;
                top: 0;
                height: 40px;
                position: absolute;
                display: block;
                z-index: 3;
                background-image: linear-gradient(to bottom, #1c1e1f 45%, #1c1e1f 23%, transparent 100%);
                @media all and (max-width: 1400px) {
                    left: 420px;
                }
                @media all and (max-width: 1200px) {
                    left: 330px;
                }
                @media all and (max-width: 768px) {
                    left: 60px;
                }
            }
            &::after {
                content: "";
                left: 540px;
                right: 0;
                bottom: 0;
                height: 40px;
                position: absolute;
                display: block;
                z-index: 3;
                background-image: linear-gradient(to top, #1c1e1f 45%, #1c1e1f 23%, transparent 100%);
                @media all and (max-width: 1400px) {
                    left: 420px;
                }
                @media all and (max-width: 1200px) {
                    left: 330px;
                }
                @media all and (max-width: 768px) {
                    left: 60px;
                }
            }
            @media all and (max-width: 1400px) {
                margin-left: 350px;
            }
            @media all and (max-width: 1200px) {
                margin-left: 260px;
            }
            @media all and (max-width: 768px) {
                margin-left: 0;
            }
        }
        .slither-enter-active,
        .slither-leave-active {
            transition: transform 0.5s;
        }
        .slither-enter,
        .slither-leave-to {
            transform: scaleX(0);
            transform-origin: 0%;
            div{
                opacity:0;
            }
        }
        .slither-enter-to,
        .slither-leave {
            transform: scaleX(1);
            transform-origin: 0%;
            div{
                opacity:1;
            }
        }
    }
}
