body {
    margin: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #app {
        display: flex;
        background-color: #1c1e1f;
        width: 75vw;
        height: 85vh;
        @media all and (max-width: 1400px) {
            height: 75vh;
        }
        @media all and (max-width: 992px) {
            width: 80vw;
            height: 85vh;
        }
        @media all and (max-width: 768px) {
            width: 90vw;
            height: 100vh;
        }
        @media all and (max-width: 576px) {
            width: 100vw;
            height: 100vh;
        }
    }
}
