.contact {
    &__header {
        &__title {
            color: white;
            font-family: "robotobold", Arial, Helvetica, sans-serif;
            font-size: 45px;
        }
        &__aside {
            color: #04b176;
            font-family: "robotomedium_italic", Arial, Helvetica, sans-serif;
            font-size: 18px;
        }
    }
}
