.contact {
    &__header {
        &__title {
            color: white;
            font-family: "robotobold", Arial, Helvetica, sans-serif;
            font-size: 45px;
        }
        &__aside {
            color: #04b176;
            font-family: "robotomedium_italic", Arial, Helvetica, sans-serif;
            font-size: 18px;
        }
    }
    &__content {
        &__list {
            li {
                color: #04b176;
                font-family: "robotoregular", Arial, Helvetica, sans-serif;
                span {
                    color: white;
                    line-height: 1.8rem;
                    margin-left: 0.5rem;
                    a {
                        &:hover {
                            color: #04b176;
                        }
                    }
                }
            }
        }
    }
}
