@font-face {
    font-family: 'robotobold';
    src: url('assets/fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('assets/fonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('assets/fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
