.skills {
    &__header {
        &__p {
            color: #888888;
            font-family: "robotoregular", Arial, Helvetica, sans-serif;
            font-size: 15px;
            line-height: 25.95px;
            text-align: left;
        }
    }
    &__techs {
        &__title {
            font-size: 36px;
            font-family: "robotobold", Arial, Helvetica, sans-serif;
            span {
                color: white;
                line-height: 2.5rem;
            }
        }
    }
}
