.contact {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    &__header {
        padding-bottom: 1rem;
        &__title {
            margin-top: 2rem;
            margin-bottom: 25px;
        }
    }
    &__content {
        &__map {
            display: flex;
            border: solid 5px white;
            @media all and (max-width: 576px) {
                overflow: hidden;
            }
        }
        &__list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 1rem;
            align-items: center;
            li{
                display: flex;
                margin-top: 1rem;
                span{
                    line-height: 1.8rem;
                    margin-left: 0.5rem;
                }
            }
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: white;
            opacity: 0.09;
        }
    }
}
