.home {
    padding-left: 2rem;
    &__header {
        position: relative;
        padding-bottom: 1rem;

        &__title {
            margin-top: 2rem;
            margin-bottom: 25px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: white;
            opacity: 0.09;
        }
    }
    &__skills {
        display: flex;
        flex-direction: column;
        &__title {
            margin-top: 1rem;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            .skill {
                display: flex;
                flex-direction: column;
                max-width: 50%;
                box-sizing: border-box;
                padding: 0 1rem;
                margin-bottom: 1rem;
                &__header {
                    color: #04b176;
                }
                &__title {
                    margin-bottom: 0;
                    margin-top: 0.5rem;
                    max-height: 3rem;
                }
                @media all and (max-width: 576px) {
                    &__content {
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}
