.portfolio {
    padding-left: 2rem;
    &__header {
        position: relative;
        padding-bottom: 1rem;
        &__title {
            margin-top: 2rem;
            margin-bottom: 25px;
        }
    }
    &__content {
        width: 50%;
        margin: auto;
        text-align: center;
    }
}
